<section>
    <figure>
        <img src="images/{LOGO}" alt="Logo de {NAME}">
        <figcaption>Logo de {NAME}</figcaption>
    </figure>
    <h2>{NAME}</h2>
    {WEBSITE}
    <p>{DESCRIPTION}</p>
</section>
<section id="comments">
    <aside id="actions">
        <h3>{COMMENTS_NUM} commentaire(s)</h3>
        <div id="grades">
            <a href="#nogo">Nouveau commentaire</a>
            <div>
                <a href="#nogo"{CLASS_GRADE_UP}>{GRADES_NUM_UP} 👍</a>
                <a href="#nogo"{CLASS_GRADE_DOWN}>{GRADES_NUM_DOWN} 👎</a>
            </div>
        </div>
    </aside>
    {COMMENTS}
</section>
