:root{
    --text-color: black;
    --background-color: white;
}

body{
    color: var(--text-color);
    background: var(--background-color);
}
img{
    max-width: 100%;
    height: auto;
}
label, input{
    display: block;
}
form div{
    margin-bottom: 1rem;
}

/**
 * Navigation
 */
nav{
    display: flex;
    max-height: 8rem;
    justify-content: space-between;
    padding: 1rem;
    background: lightgray;
}
nav img{
    width: auto;
    height: 100%;
}
nav .profile{
    align-self: center;
    text-align: right;
}

/**
 * Home
 */
main{
    margin: 1rem;
}

figure{
    text-align: center;
}
figcaption{
    color: gray;
    font-style: italic;
}

.partners{
    margin: auto;
}

.partner{
    position: relative;
    display: flex;
    background: whitesmoke;
    border-radius: 1rem;
    padding: 1rem 1rem 2.5rem;
    margin: 1rem auto;
}
.partner:first-child, .partner:last-child{
    margin: auto;
}
.partner > figure{
    flex: 2;
}
.partner > figure img{
    width: 100%;
    height: auto;
}
.partner > div{
    flex: 7;
    margin: 0 1rem;
}
.partner > p{
    position: absolute;
    bottom: 0;
    right: 2rem;
}
.partner > p a{
    display: inline-block;
    padding: .2rem .4rem;
    border-radius: .2rem;
    color: gray;
    background: lightgray;
}
.partner > p a:hover{
    color: black;
    background: darkgray;
    text-decoration: none;
}

/**
 * Comments
 */
#comments{
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid lightgray;
}
#actions{
    display: flex;
    justify-content: space-between;
}
#actions h3{
    margin-bottom: initial;
}
#grades{
    display: flex;
}
#grades > a{
    display: inline-block;
    padding: .2rem .4rem;
    border-radius: .2rem;
    color: dimgray;
    background: lightgray;
    align-self: center;
}
#grades > a:hover{
    color: black;
    background: darkgray;
    text-decoration: none;
}
#grades div{
    display: flex;
    margin-left: 1rem;
}
#grades div a, #grades div p{
    margin: auto .2rem;
    padding: .2rem .4rem;
    border-radius: .2rem;
}
#grades div a{
    opacity: .7;
    border: 1px solid transparent;
}
#grades div a:hover{
    opacity: 1;
    text-decoration: none;
}

.grade-selected{
    border-color: lightgray !important;
}

#form-comment{
    margin-top: 1rem;
}
#form-comment.hidden{
    margin-top: initial;
    height: 0;
    overflow: hidden;
}
#form-comment textarea{
    width: 100%;
    height: 5em;
}

.comment{
    background: whitesmoke;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem auto;
}
.comment :last-child{
    margin-bottom: initial;
}
.comment .firstname{
    margin-bottom: initial;
}
.comment .date{
    color: gray;
}

/**
 * User pages
 */
#user{
    max-width: 600px;
    margin: auto;
}
#user fieldset{
    border: 1px solid lightgray;
    padding: .5rem 0;
    margin: 1rem auto;
}
#user fieldset div{
    margin: auto .5rem;
}
#user fieldset div:not(:first-child){
    margin-top: .5rem;
}
#user fieldset.inline{
    display: flex;
    justify-content: space-between;
}
#user fieldset.inline div{
    width: 100%;
    margin: auto .5rem;
}
#user input[type=text], #user input[type=password]{
    width: 100%;
}

/**
 * Alert messages
 */
.alert{
    margin: 1rem;
    padding: 1rem;
    background: lightblue;
    border-radius: 1rem;
}

/**
 * Footer
 */
footer{
    display: flex;
    color: whitesmoke;
    background: gray;
}
footer ul{
    list-style: none;
    padding: 0;
    margin: 1rem auto;
    display: flex;
}
footer ul li:nth-child(n+2){
    border-left: 1px solid lightgray;
}
footer ul li a{
    color: whitesmoke;
    margin: auto 1rem;
}
footer ul li a:hover{
    color: white;
}

/**
 * Responsive breakpoints
 */
@media only screen and (max-width: 600px){ /* Smartphones */
    nav{
        display: block;
        max-height: initial;
        text-align: center;
    }
    nav .profile{
        margin-top: .5rem;
        text-align: center;
    }
    .partner{
        display: block;
    }
    #actions{
        display: block;
        text-align: center;
    }
    #grades{
        margin-top: .5rem;
        justify-content: space-between;
    }
    #user fieldset.inline{
        display: block;
    }
    #user fieldset.inline div{
        width: initial;
    }
    #user fieldset.inline div:not(:first-child){
        margin-top: .5rem;
    }
}
@media only screen and (min-width: 80rem){
    main{
        margin: 1rem auto;
        max-width: 80rem;
    }
}

.debug{
    /*display: none;*/
    margin: 1rem;
    padding: 1rem;
    color: gray;
    background: whitesmoke;
    font-size: small;
}
