<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{TITLE}</title>
        <link rel="stylesheet" href="css/bootstrap-reboot.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {NAV}
        {DEBUG}
        <main>
            {BODY}
        </main>
        <footer>
            <ul>
                <li><a href="#nogo">Mentions légales</a></li>
                <li><a href="#nogo">Contact</a></li>
            </ul>
        </footer>
    </body>
</html>
